* {
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background-image: url("../images/BG.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin-top: 50px;
  img {
    width: 160px;
    height: 43px;
  }
}

.navbar {
  margin-top: 55px;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 96.4%;
  color: #ffffff;
}

.icon-menu {
  margin-top: 2.5rem;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    padding: 10px 30px 10px 10px;

    img {
      width: 24px;
      height: 24px;
    }
}

.header {
  .contend {
    margin-top: 149px;

    .brand__name {
      font-weight: 400;
      font-size: 100px;
      line-height: 74.9%;
      color: #ffffff;
    }

    h3 {
      margin-top: 100px;
      font-size: 50px;
      line-height: 96.4%;
      color: #ffffff;
    }

    p {
      margin-top: 40px;
      font-size: 30px;
      line-height: 96.4%;
      color: #ffffff;

      b {
        margin-left: 109px;
        font-weight: 800;
        font-size: 30px;
        line-height: 96.4%;
        color: #ffffff;
      }
    }
    .btn {
      margin-top: 41px;
      background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
      padding: 16px 130px;
      color: #ffffff;
    }

    .rectangle {
      width: 12px;
      height: 12px;
      margin-top: 71px;
    }

    .rectangle__1 {
      background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
    }
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next::after {
  padding: 10px 19px 10px 10px;
  font-size: 2rem;
  color: #fff;
  border: 1px #fff solid;
  border-right: none;
}

.swiper-button-prev::after {
  padding: 10px 10px 10px 19px;
  font-size: 2rem;
  color: #fff;
  border: 1px #fff solid;
  border-left: none;
}


@media only screen and (max-width: 1920px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 1399.98px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 1199.98px) {
  .menu {
    display: none;
  }
}

@media only screen and (max-width: 991.98px) {
//   .logo {
//     margin-top: 46px;
// }

  .icons {
    // order: 1;
  }

  .icon-link {
    a {
      padding: 0.3rem 0.8rem;
    }
  }

  .menu {
    display: none;
  }
}

@media only screen and (max-width: 767.98px) {
  header {
    background-image: url("../images/BG-2.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nsn {
    display: none;
  }

  .menu {
    display: none;
  }
}

@media only screen and (max-width: 575.98px) {
  .logo {
    margin-top: 42px;
  }

  .menu {
    display: block;
  }

  .icons-1 {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .icons-1 {
    display: none;
  }

  .menu {
    display: block;
  }
}
